bin/
dist/

*.o
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.a
*.so
*.swp
!go.mod

src/smoothfs/.tmp_versions/
src/smoothfs/modules.order
src/smoothfs/Module.symvers
src/smoothfs/*.o
src/smoothfs/*.ko
src/smoothfs/*.mod
src/smoothfs/*.mod.c
src/smoothfs/*.cmd
src/smoothfs/*~
src/smoothfs/samba-vfs/*.so

**/*_[0-9]*.deb
**/*_[0-9]*.buildinfo
**/*_[0-9]*.changes
**/debian/.debhelper/
**/debian/files
**/debian/*.substvars
**/debian/*.debhelper
**/debian/*.debhelper.log
**/debian/debhelper-build-stamp
**/debian/tmp/
**/debian/smoothfs-dkms/
**/debian/smoothfs-samba-vfs/
